body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornsilk;
}
p, ul, ol{
    text-align: left;
}
img{
    height: auto;
}